@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700;900&display=swap";
*{
    margin:0;
    padding: 0;
    border: 0;
}
body{
    background: #282a36;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
        
header{
    padding: 32px; /*ShortRend é sentido horário*/
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}
header div{/*Esse é um exemplo de modelo cascata do CSS*/
    text-align: center;
}
header div a{
    color:white;
    font-size: 18px;
    line-height: 28px; /*Esse é um espaçamento de texto diferentimente do padding*/
    margin: 0 16px; /* esse é um espaçamento entre os elementos*/
    margin-bottom: 3px;
    text-decoration: none;
            
}
header div a:hover{
    color:#50fa7b;
    transition: color 500ms;
}

#wrapper{
    text-align: center;
    padding: 32px; /*(left,top,right,bottom)*/
}

#wrapper img{
    border-radius: 50%  ;/*(left,top,right,bottom)*/
    border: 5px solid #50fa7b;
    margin-bottom: 32px; 
    width: 300px;
    height: 300px;
}

#wrapper h1 {
    font-size: 42px;
    line-height: 52px; /*Espaçamento interno do texto*/
    font-weight: bold;
}
#wrapper h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#wrapper p{
    width: 50px;
}



